@charset "utf-8";
#box_menu ul li a{
    display: block;
    width : 100%;
    height : 100%;
}
.anythingSlider .panel{
    position : static;
}
.anythingSlider-default{
    padding : 0;
}
#navigation .center li ul {
    display : none;
}
#navigation .center li.open ul {
    /* display : block; */
}
.news_closs{
    background:url(../images/index/news_bg.png) repeat left top;
    text-align:center;
    width:132px; height:31px;
    margin:0 auto;
}
.news_closs_btn{
    text-align:center;
    background:url(../images/index/news_closs.png) no-repeat center center;
    width:132px; height:31px;
    margin:0 auto;
    cursor: pointer;
}
#box_news .container{
    display : none;
}
.news_btn{
    cursor: pointer;
}
.qa_list ul ul{
    display: none;
}
.captcha{
    text-transform: uppercase;
}
button{
    border:0;
}
.ui-widget{
    text-align: left;
}
#my_content{
    /*margin: 0 0 20px 0px;*/
}
.art_list{
    /*margin:0 10px;*/
    margin-right: 0px;
    /*width: 210px;*/
}
input.search_btn{
    width : 79px;
    height : 41px;
    background: url(../images/default/btn_star.png) no-repeat;
    float: right;
}