@charset "utf-8";
body {
}

/* 主要區塊 */
#wrapper{
	position:relative;
	height:630px;
}
#pagebody{}
#logo{
	position:absolute;
	right:0; top:0;
	width:243px; height:126px;
	padding:0;
	z-index:2;
}
#footer{
	position:relative;
	width:1024px;
	margin:0 auto;
}

/* 背景 */
.bg_slider{
	margin:0 auto;
	overflow:hidden;
}
ul.index_bg{ height:630px;}
ul.items_bar li{
	position:absolute;
	left:0; top:0;
	width:100%;
}

.bg_slider>li{}
.arrow{
	width:61px; height:116px;
	position:absolute;
	display:block;
	z-index:10;
}
.arr_prev{
	background:url(../images/index/arrow_01.png) no-repeat left top;
	left:0px; top:215px;
}
.arr_next{
	background:url(../images/index/arrow_02.png) no-repeat left top;
	right:0px; top:215px;
}
.rsContent{
	position:relative;
	color:#fff;
}
.rsABlock{
	position:absolute;
	left:13%; top:0;
	z-index:9;
	text-align:left;
	width:525px;
}
.rsContent h1{font-size:36px; color:#fff; top:295px; padding:0; margin:0;}
.rsContent h2{ font-size:15px; color:#fff; top:350px; padding:0; margin:0;}

/* 主選單 */
#box_menu{
	position:absolute;
	left:0; top:0;
	background: url(../images/index/menu_bg.png) repeat-x left top;
	width:100%; height:58px;
	margin:0 0 44px 0;
}
#box_menu ul{
	width:1024px;
	margin:0 auto;
	padding-top:13px;
	padding-left:60px;
}
#box_menu ul li{
	float:left;
	text-indent: 110%;  white-space: nowrap;  overflow: hidden;
}
.menu_01{
	background:url(../images/default/menu_01.png) no-repeat left top;
	width:134px; height:45px;
}
.menu_01:hover, .menu_01.click{
	background:url(../images/default/menu_01ov.png) no-repeat left top;
}
.menu_02{
	background:url(../images/default/menu_02.png) no-repeat left top;
	width:114px; height:45px;
}
.menu_02:hover, .menu_02.click{
	background:url(../images/default/menu_02ov.png) no-repeat left top;
}
.menu_03{
	background:url(../images/default/menu_03.png) no-repeat left top;
	width:178px; height:45px;
}
.menu_03:hover, .menu_03.click{
	background:url(../images/default/menu_03ov.png) no-repeat left top;
}
.menu_04{
	background:url(../images/default/menu_04.png) no-repeat left top;
	width:112px; height:45px;
}
.menu_04:hover, .menu_04.click{
	background:url(../images/default/menu_04ov.png) no-repeat left top;
}
.menu_05{
	background:url(../images/default/menu_05.png) no-repeat left top;
	width:220px; height:45px;
}
.menu_05:hover, .menu_05.click{
	background:url(../images/default/menu_05ov.png) no-repeat left top;
}

/* 最新消息 */
#box_news{
	position: absolute;
	bottom:0;
	width:100%;
}
#box_news .container{
	background:url(../images/index/news_bg.png) repeat left top;
	overflow:hidden;
}
.news_btn{
	text-align:center;
	background:url(../images/index/btn_news.png) no-repeat center center;
	width:132px; height:31px;
	margin:0 auto;
}
.news_center{
	color:#3f3f3f;
	font-size:12px;
	padding:15px 25px 25px 25px;
	overflow:hidden;
}
.news_title{
	display:block;
	font-size:15px;
	color:#f84746;
	margin-bottom:10px;
}
.news_center li{
	float:left;
	width:30%;
	padding:0 2% 0 0;
	margin:0 2% 0 0;
	border-right:#fff4bc 1px solid;
	line-height:1.2;
	text-align:left;
}
.news_center li:last-child{ border:none; padding:0; margin:0;}
.news_center li a{color:#3f3f3f;}

/* 頁尾 */
.footer_copyright{
	color:#f84746;
	font-size:13px;
	text-align:left;
}
.share{
	position:absolute;
	right:0; top:0;
}
.footer_text{
	color:#a6a5a6;
	text-align:left;
	margin-top:10px;
}