{include file="pageheader.htm"}
<link href="../../css/prettyPhoto/prettyPhoto.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="../../js/ajaxfileupload.js"></script>
<!-- stactivity 分類表單 -->
<div class="main-div">
	<form action="" method="post" onsubmit="return do_ajax(this)">
		<table width="100%" id="general-table">
			<tr>
				<td class="label">{$lang.lab_name}:</td>
				<td><input type='text' name='name' value='{$cat_info.name|escape:html}' size='27' />
					<font color="red">*</font></td>
			</tr>
			<tr>
				<td class="label">{$lang.lab_meta_keywords}:</td>
				<td><input type='text' name='meta_keywords' value='{$cat_info.meta_keywords|escape:html}' size='27' /></td>
			</tr>
			<tr>
				<td class="label">{$lang.lab_meta_description}:</td>
				<td><input type='text' name='meta_description' value='{$cat_info.meta_description|escape:html}' size='27' /></td>
			</tr>
			<tr>
				<td class="label">{$lang.lab_location}:</td>
				<td><select name="location_from" onchange="check_location_from();">
            			{$cat_select}
					</select>
					<input type="radio" name="location_type" value="0" checked/>
					{$lang.lab_append}
					<input type="radio" name="location_type" value="1" />
					{$lang.lab_above}
					<input type="radio" name="location_type" value="2" />
					{$lang.lab_below}
				</td>
			</tr>
			<tr>
				<td class="label">{$lang.lab_img}:</td>
				<td><input type="file" name="img" id="img" />
					<!--{if $cat_info.img}-->
						<a href="javascript:;" onclick="drop_img({$cat_info.id})"><img src="images/no.gif" alt="Delete" border="0" /></a>
						<a href="{$cat_info.original_img}" rel="prettyPhoto" ><img src="images/yes.gif" border="0" /></a>
					<!--{else}-->
						<img src="images/no.gif" alt="no" />
					<!--{/if}-->
				</td>
			</tr>
			<tr>
				<td class="label">{$lang.lab_is_show}:</td>
				<td><input type="radio" name="is_show" value="1" {if $cat_info.is_show neq 0} checked="true"{/if}/>
					{$lang.yes}
					<input type="radio" name="is_show" value="0" {if $cat_info.is_show eq 0} checked="true"{/if} />
					{$lang.no} </td>
			</tr>
		</table>
		<div class="button-div">
			<input type="submit" value="{$lang.button_submit}" />
			<input type="reset" value="{$lang.button_reset}" />
		</div>
		<input type="hidden" name="act" value="{$form_act}" />
		<input type="hidden" name="id" value="{$cat_info.id}" />
	</form>
</div>
<!-- end 分類表單 -->
{literal}
<script language="JavaScript">
<!--
	$("form input[name='name']").focus();
	check_location_from();
	$(document).ready(function(){
		$("a[rel^='prettyPhoto']").prettyPhoto({theme:'dark_rounded'});
	});

	/**
	* 刪除該資料圖片
	*/
	function drop_img(id)
	{
		jConfirm(drop_img_confirm,
				 SYS_MSG,
				 function(r){
					if(r){
						$.ajax({
							url: get_url(),
							data: {	act:'drop_img',
									id:id
								},
							success: function(r){
								if(r.error == 1){
									jAlert(obj.message, SYS_MSG);
								}else{
									if(r.message){
										jAlert( r.message,
												SYS_MSG,
												function(){
													if(	r.url){
														location.href = r.url;
													}
												}
										);
									}
								}
							}
						});
					}
		});
	}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}