{include file="pageheader.htm"}
<!-- start data 表單 -->
{literal}
<script type="text/javascript">
	$(function() {
		$("#tabs").tabs();
	});
	
	remove_reply = function(id){		
		jConfirm( DROP_CONFIRM, 
				  SYS_MSG, 
				  function(t){
					  if(t){
						  var data = {
							  	act: "remove_reply",
								id: id
							};
							$.ajax({
								data: data,
								success: function(r){
									if(r.error == 1){
										jAlert(obj.message, SYS_MSG);
									}else{
										if(r.message){
											jAlert( r.message, 
													SYS_MSG, 
													function(){
														$("#reply_"+id).remove();
													}
											);
										}
									}
								}
							});
						}
					}
				);
	}
</script>
{/literal}
<div id="tabs">
    <ul>
        <li><a href="#fragment-1"><span>留言資訊</span></a></li>
		<li><a href="#fragment-2"><span>{$lang.replied}</span></a></li>
    </ul>
	
	<form action="" method="post" onsubmit="return do_ajax(this);">
    <input type="hidden" name="id" value="{$data_info.id}" />
	<div id="fragment-1">
        <table width="90%" align="center">
			<tr>
				<td class="label">{$lang.lab_add_time}:</td>
				<td>{$data_info.add_time|escape}</td>
			</tr>
			<tr>
				<td class="label">{$lang.lab_name}:</td>
				<td>{$data_info.name|escape}</td>
			</tr>	
            {*}	
			<tr>
				<td class="label">{$lang.lab_email}:</td>
				<td>{$data_info.email|escape:html}</td>
			</tr>
			<tr>
				<td class="label">{$lang.lab_phone}:</td>
				<td>{$data_info.phone|escape:html}</td>
			</tr>
            {*}            
			<tr>
				<td class="label">{$lang.lab_subject}:</td>
				<td>{$data_info.subject|escape:html}</td>
			</tr>
			<tr>
				<td class="label">{$lang.lab_content}:</td>
				<td>
					{$data_info.content|nl2br}
				</td>
			</tr>
            {*}
            <tr>
				<td class="label">{$lang.lab_is_show}:</td>
				<td>
					<img src="images/{if $data.is_show}yes{else}no{/if}.gif" />
				</td>
			</tr>
            {*}
		</table>
        
		<hr>
		<table width="90%" align="center">
			<tr>
				<td class="label">{$lang.lab_reply_name}:</td>
				<td><input type="text" name="name" value="{$reply_info.name|escape}" size="27" />{$lang.require_field}</td>
			</tr>			 
			<tr>
				<td class="label">{$lang.lab_reply_email}:</td>
				<td><input type='text' name='email' value='{$reply_info.email|escape}' size='27' />{$lang.require_field}</td>
			</tr>
			<tr>
				<td class="label">{$lang.lab_subject}:</td>
				<td><input type='text' name='subject' value='Re:{$data_info.subject|escape:html}' size='27' />{$lang.require_field}</td>
			</tr>
			<tr>
				<td class="label">{$lang.lab_reply_content}:</td>
				<td>
					<textarea name="content" cols="40" rows="5">{$reply_info.content|escape:html}</textarea>{$lang.require_field}
					</td>
			</tr>
            {*}
            <tr>
				<td class="label">{$lang.lab_is_show}:</td>
				<td><input type="radio" name="is_show" value="1" checked="true"/>
					{$lang.yes}
					<input type="radio" name="is_show" value="0"/>
					{$lang.no} </td>
			</tr>
            {*}
		</table>
    </div>   
	<div id="fragment-2">
		<!--{foreach from=$reply_list item=data_info key=key}-->
		<div id="reply_{$data_info.id}">
        	<!--{if $key neq 0}--><hr><!--{/if}-->
        <table width="90%" align="center">
			<tr>
				<td colspan="2" align="center"><a href="javascript:;" onclick="remove_reply({$data_info.id})" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" /></a></td>
			</tr>
            <tr>
				<td class="label">{$lang.lab_reply_add_time}:</td>
				<td>{$data_info.add_time|escape}</td>
			</tr>
			<tr>
				<td class="label">{$lang.lab_reply_name}:</td>
				<td>{$data_info.name|escape}</td>
			</tr>	
            {*}	
			<tr>
				<td class="label">{$lang.lab_reply_email}:</td>
				<td>{$data_info.email|escape:html}</td>
			</tr>
			<tr>
				<td class="label">{$lang.lab_reply_phone}:</td>
				<td>{$data_info.phone|escape:html}</td>
			</tr>
            {*}         
			<tr>
				<td class="label">{$lang.lab_subject}:</td>
				<td>{$data_info.subject|escape:html}</td>
			</tr>
			<tr>
				<td class="label">{$lang.lab_reply_content}:</td>
				<td>
					{$data_info.content|nl2br}
				</td>
			</tr>
            {*}
            <tr>
				<td class="label">{$lang.lab_is_show}:</td>
				<td>
					<img src="images/{if $data_info.is_show}yes{else}no{/if}.gif" />
				</td>
			</tr>
            {*}
		</table>
        </div>
		<!--{foreachelse}-->
		<table width="90%" align="center">
			<tr>				
				<td align="center">{$lang.no_records}</td>
			</tr>
		</table>
		<!--{/foreach}-->
    </div> 
	
	<div class="button-div">		
		<input type="submit" value="{$lang.button_submit}" class="button" />
		<input type="reset" value="{$lang.button_reset}" class="button" />
	</div>
    
	<input type="hidden" name="act" value="{$form_act}" />
	</form>
</div>

<!-- end data 表單 -->

{include file="pagefooter.htm"} 