<div id="footer"> {$query_info}{$gzip_enabled}{$memory_info}<br />
	{$lang.copyright} </div>
{literal}
<script language="JavaScript">

	if(document.getElementById("listDiv")){
		
		/* 表格選取效果 */
		var listDiv = $('#listDiv');
		listDiv.mouseover(function(){
			TR = $('#listDiv TR');
			TR.mouseover(function(){
				$("TD", this).css('background','#deedf0');
			}).mouseout(function(){
				$("TD", this).css('background','#FFFFFF');
			});
		});
		
		document . getElementById("listDiv") . onclick = function (e)
		{
			var obj = Utils . srcElement(e);
		
			if (obj . tagName == "INPUT" && obj . type == "checkbox")
			{
				if (!document . forms['listForm'])
				{
					return;
				}
				var nodes = document . forms['listForm'] . elements;
				var checked = false;
		
				for (i = 0; i < nodes . length; i++)
				{
					if (nodes[i] . checked)
					{
						checked = true;
						break;
					}
				}
		
				if (document . getElementById("btnSubmit"))
				{
					document . getElementById("btnSubmit") . disabled = !checked;
				}
				for (i = 1; i <= 10; i++)
				{
					if (document . getElementById("btnSubmit" + i))
					{
						document . getElementById("btnSubmit" + i) . disabled = !checked;
					}
				}
			}
		}
	}
</script>
{/literal}
</body>
</html>