{include file="pageheader.htm"}
<!-- directory install start -->
<ul id="lilist" style="padding:0; margin: 0; list-style-type:none; color: #CC0000;">
	{foreach from=$warning_arr item=warning}
	<li style="border: 1px solid #CC0000; background: #FFFFCC; padding: 10px; margin-bottom: 5px;" >{$warning}</li>
	{/foreach}
</ul>
<!-- directory install end -->
<br />
<!-- start system information -->
<div class="list-div">
	<table cellspacing='1' cellpadding='3'>
		<tr>
			<th colspan="4" class="group-title">{$lang.system_info}</th>
		</tr>
		<tr>
			<td width="20%">{$lang.os}</td>
			<td width="30%">{$sys_info.os} ({$sys_info.ip})</td>
			<td width="20%">{$lang.web_server}</td>
			<td width="30%">{$sys_info.web_server}</td>
		</tr>
		<tr>
			<td>{$lang.php_version}</td>
			<td>{$sys_info.php_ver}</td>
			<td>{$lang.mysql_version}</td>
			<td>{$sys_info.mysql_ver}</td>
		</tr>
		<tr>
			<td>{$lang.safe_mode}</td>
			<td>{$sys_info.safe_mode}</td>
			<td>{$lang.safe_mode_gid}</td>
			<td>{$sys_info.safe_mode_gid}</td>
		</tr>
		<tr>
			<td>{$lang.socket}</td>
			<td>{$sys_info.socket}</td>
			<td>{$lang.timezone}</td>
			<td>{$sys_info.timezone}</td>
		</tr>
		<tr>
			<td>{$lang.gd_version}</td>
			<td>{$sys_info.gd}</td>
			<td>{$lang.zlib}</td>
			<td>{$sys_info.zlib}</td>
		</tr>
		<tr>
			<td>{$lang.ec_charset}</td>
			<td>{$chh_charset}</td>
			<td>{$lang.max_filesize}</td>
			<td>{$sys_info.max_filesize}</td>
		</tr>
	</table>
</div>
<!-- end system information -->
{include file="pagefooter.htm"} 