{include file="pageheader.htm"}
<script type="text/javascript" src="../../js/utils.js"></script>
<script type="text/javascript" src="../js/listtable.js"></script>
<form method="post" action="" name="listForm">
	<!-- start 資料 list -->
	<div class="list-div" id="listDiv">
		<table width="100%" cellspacing="1" cellpadding="2" id="list-table">
			<tr>
				<th>{$lang.lab_name}</th>
				<th width="50" >{$lang.lab_is_show}</th>
				<th width="150" >{$lang.lab_handler}</th>
			</tr>
			{foreach from=$cat_info item=cat}
			<tr align="center" class="{$cat.depth}">
				<td align="left" class="first-cell" > {if $cat.is_leaf neq 1} <img src="images/menu_minus.gif" width="9" height="9" border="0" style="margin-left:{$cat.depth}em" onclick="rowClicked(this)" /> {else} <img src="images/menu_arrow.gif" width="9" height="9" border="0" style="margin-left:{$cat.depth}em" /> {/if} <span>{$cat.name}</span></td>
				<td><img src="images/{if $cat.is_show eq '1'}yes{else}no{/if}.gif" /></td>				
				<td>
					<a href="?act=edit&cat_id={$cat.id}"><img src="images/icon_edit.gif" border="0" /></a>
					<!--{if $cat.id neq 2}--><a href="javascript:;" onclick="remove({$cat.id})" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" /></a><!--{/if}--></td>
			</tr>
			{foreachelse}
			<tr>
				<td class="no-records" colspan="10">{$lang.no_records}</td>
			</tr>
			{/foreach}
		</table>
	</div>
	<!-- end 資料 list -->
</form>

{include file="pagefooter.htm"}